{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>Portfolio</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Purchase Price</th>
                <th>Current Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
                <tr>
                    <td>{{ holding.symbol }}</td>
                    <td>{{ holding.name }}</td>
                    <td>{{ holding.shares }}</td>
                    <td>{{ holding.purchase_price|usd }}</td>
                    <td>{{ holding.current_price|usd }}</td>
                    <td>{{ holding.value|usd }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="5"><b>Cash</b></td>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td colspan="5"><b>Grand Total</b></td>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
